body {
    background-color: #ef6f6f;
}

h1 {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}

* {
    font-family: Arial;
}

a {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {
    background-color: #545454;
    color: white;
}
ul li{  /*тут я додала padding, тому що li находили на себе*/

    padding: 20px 0 20px 0;
}
